massuploading/src/main/app/massuploading.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" pollingFrequency="50000" doc:name="File"/>
    <validation:config name="Validation_Configuration" doc:name="Validation Configuration"/>
    <sfdc:config name="Salesforce__Basic_Authentication" username="hemanth.gadde@stericycle.com.sfdcdev1" password="Indiaindia9" url="https://test.salesforce.com/services/Soap/u/37.0" doc:name="Salesforce: Basic Authentication"/>
    <flow name="massuploadingFlow">
        <file:inbound-endpoint path="C:\Dev\steri\inbound" moveToPattern="#[message,inboundProperties.orignalFileName]" moveToDirectory="C:\Dev\steri\archive" connector-ref="File" pollingFrequency="50000" responseTimeout="10000" doc:name="File" metadata:id="57640e58-8f6a-46b4-94d3-0805727ce51d">
            <file:filename-regex-filter pattern="(*).csv" caseSensitive="true"/>
        </file:inbound-endpoint>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            <dw:set-variable variableName="priceData"><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-variable>
        </dw:transform-message>
        <validation:is-not-null doc:name="Validation" config-ref="Validation_Configuration" message="#[payload.Account__c]" value="null"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="4d074e69-4259-4a3e-b1ac-fcf1047e34c6">
            <dw:input-payload mimeType="application/csv"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
[{
	Active__c: false
}]]]></dw:set-payload>
        </dw:transform-message>
        <sfdc:update config-ref="Salesforce__Basic_Authentication" doc:name="Salesforce" type="Price_Book_Entry__c">
            <sfdc:objects ref="#[payload]"/>
        </sfdc:update>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <choice doc:name="Choice">
            <when expression="#[payload.success = 'true']">
                <logger message="Deactivation succcesful" level="INFO" doc:name="Logger"/>
                <dw:transform-message doc:name="Transform Message" metadata:id="d9a49e5d-acf6-430b-999f-527cba74e8a0">
                    <dw:input-variable mimeType="application/csv" variableName="priceData"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
flowVars.priceData map ((priceDatum , indexOfPriceDatum) -> {
	Account__c: priceDatum.Account__c,
	Case_by_case_pricing__c: priceDatum.Case_by_case_pricing__c as :boolean,
	Customer_Price_Book__c: priceDatum.Customer_Price_Book__c,
	Item_Description__c: priceDatum.Item_Description__c,
	Price__c: priceDatum.Price__c,
	Product_Family__c: priceDatum.Product_Family__c,
	Product__c: priceDatum.Product__c,
	Profile_Price_Entry_Description__c: priceDatum.Profile_Price_Entry_Description__c,
	Profile_Special_Pricing__c: priceDatum.Profile_Special_Pricing__c as :boolean,
	Stericycle_Location__c: priceDatum.Stericycle_Location__c,
	UOM__c: priceDatum.UOM__c,
	Waste_Profile__c: priceDatum.Waste_Profile__c,
	Project_Id__c: priceDatum.Project_Id__c,
	Threshold_Price__c: priceDatum.Threshold_Price__c,
	Subscription_Price__c: priceDatum.Subscription_Price__c,
	Minimum_Price__c: priceDatum.Minimum_Price__c,
	Minimum_Bill_Qty__c: priceDatum.Minimum_Bill_Qty__c as :number,
	Active__c: priceDatum.Active__c as :boolean,
	Pricing_Applied__c: priceDatum.Pricing_Applied__c,
	Minimum_Type__c: priceDatum.Minimum_Type__c,
	Current_Threshold_Value__c: priceDatum.Current_Threshold_Value__c as :number,
	Source__c: priceDatum.Source__c,
	Verified__c: priceDatum.Verified__c as :boolean,
	Expiration_Date__c: priceDatum.Expiration_Date__c as :date,
	Segment__c: priceDatum.Segment__c,
	Approved_Destination__c: priceDatum.Approved_Destination__c,
	SubscriptionPriceEndDate__c: priceDatum.SubscriptionPriceEndDate__c as :date,
	SubscriptionPriceStartDate__c: priceDatum.SubscriptionPriceStartDate__c as :date,
	SubscriptionType__c: priceDatum.SubscriptionType__c,
	Contract__c: priceDatum.Contract__c,
	Project__c: priceDatum.Project__c,
	Programs__c: priceDatum.Programs__c,
	Threshold__c: priceDatum.Threshold__c
})]]></dw:set-payload>
                </dw:transform-message>
                <sfdc:create config-ref="Salesforce__Basic_Authentication" type="Price_Book_Entry__c" doc:name="Salesforce">
                    <sfdc:objects ref="#[payload]"/>
                </sfdc:create>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
                </dw:transform-message>
                <logger message="Creation and Activation Resposne #[payload]" level="INFO" doc:name="Logger"/>
                <choice doc:name="Choice">
                    <when expression="#[payload.success = 'true']">
                        <smtp:outbound-endpoint host="localhost" responseTimeout="10000" doc:name="SMTP"/>
                        <logger message="Email Notification Sent" level="INFO" doc:name="Logger"/>
                    </when>
                    <otherwise>
                        <logger message="Creation and Activation unsuccessful" level="INFO" doc:name="Logger"/>
                    </otherwise>
                </choice>
            </when>
            <otherwise>
                <logger message="Deactivation unsucccesful" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
</mule>
