recurringfee/src/main/app/recurringfee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
   <sfdc:config name="Salesforce__Basic_Authentication" username="hemanth.gadde@stericycle.com.sfdcdev1" password="Indiaindia9" url="https://test.salesforce.com/services/Soap/u/37.0" doc:name="Salesforce: Basic Authentication"/>
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" host="192.81.100.75" port="50705" basePath="V1" connectionIdleTimeout="1800000" doc:name="HTTP Request Configuration">
        <tls:context>
            <tls:trust-store insecure="true"/>
        </tls:context>
    </http:request-config>
    <flow name="recfeeFlow">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="10" timeUnit="MINUTES"/>
            <logger level="INFO" doc:name="Logger"/>
        </poll>
        <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT Container_Weight_Per_Stop__c,Container_Weight_Per_Year__c,Containers_Per_Stop__c,Containers_Per_Year__c,CreatedDate,Customer_Account__c,EI_Fee__c,End_Date__c,Generator_Account__c,Id,LastModifiedById,LastModifiedDate,LastReferencedDate,LastViewedDate,Last_Bill_Date__c,Monthly_Fee__c,Name,Next_Bill_Date__c,Number_of_Stops_Overage__c,Overage_Price_Per_Container__c,Overage_Price_Per_Stop__c,Price__c,Product__c,Receiving_Price__c,Receiving_Quantity__c,Send_to_Steriworks__c,Setup_in_Steriworks__c,Start_Date__c,Stops_Per_Year__c,Term__c,Type__c,Waste_Program_Type__c,Waste_Program__c FROM Recurring_Fee__c WHERE Send_to_Steriworks__c = true" doc:name="Salesforce"/>
        <set-payload value="#[org.apache.commons.collections.IteratorUtils.toList(payload)]" doc:name="Set Payload"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            <dw:set-variable variableName="orders"><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-variable>
        </dw:transform-message>
        <foreach doc:name="For Each">
            <enricher target="#[flowVars.account]" doc:name="Message Enricher">
                <flow-ref name="SubFlowAccount" doc:name="SubFlowAccount"/>
            </enricher>
            <choice doc:name="Choice">
                <when expression="#[payload.Send_to_Steriworks__c == 'true' and payload.Setup_in_Steriworks__c == 'true']">
                    <dw:transform-message doc:name="Transform Message">
                        <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((lines , indexOfAccount) -> {
	
	"contractId":'123',
	//"CustomerNumber": flowVars.account[0].Customer_Dynamics_AX_Number__c default '00106315',
    "CustomerNumber":'00106153',
    "ExternalSiteNumber": flowVars.orders[0].Generator_Account__c default '91110',
    "EffectivePriceDate" :flowVars.orders[0].Start_Date__c default '12-03-04' ,
  //  "SvcCode" : flowVars.orders[0].Product__c,
    "SvcCode":'0001AC',
    "BillAheadCycles" :flowVars.orders[0].Term__c default '1' ,
   "WasteProgramType": flowVars.orders[0].Waste_Program_Type__c default 'RMW',
     
     "Description": "test",
     "TaxCategory" : "RECYCLE",
   
   "Price" : flowVars.orders[0].Price__c default '10',
    "TerminateDate" : flowVars.orders[0].End_Date__c default '2099-05-17',
     "EnergyAndInsurance": flowVars.orders[0].EI_Fee__c default '11',
     "StopsPerYear":flowVars.orders[0].Stops_Per_Year__c,
     "ContainersPerWasteStreamPerYear":flowVars.orders[0].Containers_Per_Year__c,
     "ContainersPerWasteStreamPerStop":flowVars.orders[0].Containers_Per_Stop__c,
     "WeightPerWasteStreamPerYear":flowVars.orders[0].Container_Weight_Per_Year__c,
     "WeightPerWasteStreamPerStop":flowVars.orders[0].Container_Weight_Per_Stop__c,
     "OverageContainersPrice":flowVars.orders[0].Overage_Price_Per_Container__c,
     "OverageWeightPrice":"",
     "OverageStopPrice":flowVars.orders[0].Overage_Price_Per_Stop__c
    
    
    //"PONumber": "po" default '123456',
    //"ExternalServiceOrderNumber": "eson011" default 'ES-123456',
    //"ServiceOrderNumber": flowVars.orders[0].Name default 'W-123456',
    //"ExternalServiceOrderLineNumber": "esoln011" default 'WL-123456',
    //"ServiceDocumentNumber": "sdn011" default '123456',
    //"WasteProfileNumber": "wpn011" default '123456',
    //"ServiceDate": flowVars.orders[0].SVMXC__Completed_Date_Time__c default '12/03/04',
    //"SvcCode": lines.Processed_As_Item__c default '123456',
   // "Description": lines.Item_Description__c default 'test',
   
   
    //"TaxCategory" : "RECYCLE",
    //"UnitPrice": lines.SVMXC__Actual_Price2__c default '120',
    //"MixedWasteFlag": 0,
    //"ShippingQuantity": lines.Total_Quantity_11__c default '9',
    //"TaxCategory": ".",
    //"BilledQuantity": lines.Bill_Qty__c default '9',
    //"BilledUOM": lines.Bill_UOM__c default 'LBS',
    //"ShippingWeight": lines.Total_Quantity_11__c default '9',
    //"LocationDimension": flowVars.orders[0].Revenue_Location__c default '9408',
	
})]]></dw:set-payload>
                    </dw:transform-message>
                    <logger message="Add Request to Steriworks :  #[payload]" level="INFO" doc:name="Logger"/>
                    <http:request config-ref="HTTP_Request_Configuration" path="UpdateSiteProgramSchedules" method="POST" doc:name=" HTTP Steriworks Update">
                        <http:request-builder>
                            <http:header headerName="Content-Type" value="application/json"/>
                            <http:header headerName="X-SDS-Culture" value="en-US"/>
                            <http:header headerName="X-SDS-User" value="rlourenco"/>
                            <http:header headerName="X-SDS-CompanyCode" value="910"/>
                            <http:header headerName="Accept" value="application/json"/>
                        </http:request-builder>
                    </http:request>
                </when>
                <otherwise>
                    <dw:transform-message doc:name="Transform Message">
                        <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((lines , indexOfAccount) -> {
	
	"contractId":'123',
	//"CustomerNumber": flowVars.account[0].Customer_Dynamics_AX_Number__c default '00106315',
    "CustomerNumber":'00106153',
    "ExternalSiteNumber": flowVars.orders[0].Generator_Account__c default '91110',
    "EffectivePriceDate" :flowVars.orders[0].Start_Date__c default '12-03-04' ,
  //  "SvcCode" : flowVars.orders[0].Product__c,
    "SvcCode":'0001AC',
    "BillAheadCycles" :flowVars.orders[0].Term__c default '1' ,
   "WasteProgramType": flowVars.orders[0].Waste_Program_Type__c default 'RMW',
     
     "Description": "test",
     "TaxCategory" : "RECYCLE",
   
   "Price" : flowVars.orders[0].Price__c default '10',
    "TerminateDate" : flowVars.orders[0].End_Date__c default '2099-05-17',
     "EnergyAndInsurance": flowVars.orders[0].EI_Fee__c default '11',
     "StopsPerYear":flowVars.orders[0].Stops_Per_Year__c,
     "ContainersPerWasteStreamPerYear":flowVars.orders[0].Containers_Per_Year__c,
     "ContainersPerWasteStreamPerStop":flowVars.orders[0].Containers_Per_Stop__c,
     "WeightPerWasteStreamPerYear":flowVars.orders[0].Container_Weight_Per_Year__c,
     "WeightPerWasteStreamPerStop":flowVars.orders[0].Container_Weight_Per_Stop__c,
     "OverageContainersPrice":flowVars.orders[0].Overage_Price_Per_Container__c,
     "OverageWeightPrice":"",
     "OverageStopPrice":flowVars.orders[0].Overage_Price_Per_Stop__c
    
    
    //"PONumber": "po" default '123456',
    //"ExternalServiceOrderNumber": "eson011" default 'ES-123456',
    //"ServiceOrderNumber": flowVars.orders[0].Name default 'W-123456',
    //"ExternalServiceOrderLineNumber": "esoln011" default 'WL-123456',
    //"ServiceDocumentNumber": "sdn011" default '123456',
    //"WasteProfileNumber": "wpn011" default '123456',
    //"ServiceDate": flowVars.orders[0].SVMXC__Completed_Date_Time__c default '12/03/04',
    //"SvcCode": lines.Processed_As_Item__c default '123456',
   // "Description": lines.Item_Description__c default 'test',
   
   
    //"TaxCategory" : "RECYCLE",
    //"UnitPrice": lines.SVMXC__Actual_Price2__c default '120',
    //"MixedWasteFlag": 0,
    //"ShippingQuantity": lines.Total_Quantity_11__c default '9',
    //"TaxCategory": ".",
    //"BilledQuantity": lines.Bill_Qty__c default '9',
    //"BilledUOM": lines.Bill_UOM__c default 'LBS',
    //"ShippingWeight": lines.Total_Quantity_11__c default '9',
    //"LocationDimension": flowVars.orders[0].Revenue_Location__c default '9408',
	
})]]></dw:set-payload>
                    </dw:transform-message>
                    <logger message="Update Request to Steriworks :  #[payload]" level="INFO" doc:name="Logger"/>
                    <http:request config-ref="HTTP_Request_Configuration" path="AddSiteProgramSchedules" method="POST" doc:name=" HTTP Steriworks Add">
                        <http:request-builder>
                            <http:header headerName="Content-Type" value="application/json"/>
                            <http:header headerName="X-SDS-Culture" value="en-US"/>
                            <http:header headerName="X-SDS-User" value="rlourenco"/>
                            <http:header headerName="X-SDS-CompanyCode" value="910"/>
                            <http:header headerName="Accept" value="application/json"/>
                        </http:request-builder>
                    </http:request>
                </otherwise>
            </choice>

            <object-to-string-transformer doc:name="Object to String"/>
            <logger message="Steriworks Response : #[payload]" level="INFO" doc:name="Logger"/>
            <choice doc:name="Choice">
                <when expression="#[message.inboundProperties['http.status'] == '201']">
                    <logger message="Success" level="INFO" doc:name="Logger"/>
                    <dw:transform-message doc:name="Transform Message">
                        <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
[{
	Id: flowVars.orders[0].Id,
	Setup_in_Steriworks__c	: true
// Preview_Billing_System_Status__c: 'Created'
}]]]></dw:set-payload>
                    </dw:transform-message>
                    <sfdc:update config-ref="Salesforce__Basic_Authentication" type="Recurring_Fee__c" doc:name="Salesforce">
                        <sfdc:objects ref="#[payload]"/>
                    </sfdc:update>
                    <logger level="INFO" doc:name="Logger"/>
                </when>
                <otherwise>
                    <logger message="Failed" level="INFO" doc:name="Logger"/>
                </otherwise>
            </choice>
        </foreach>

 
    </flow>
    <sub-flow name="SubFlowAccount">
        <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT Customer_Dynamics_AX_Number__c,Id FROM Account WHERE Name = '#[payload.Customer_Account__c]'" doc:name="Salesforce"/>
    </sub-flow>
</mule>
